@import "tailwindcss";
* {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  @apply bg-background text-white;
}
.bg-app {
  @apply bg-gradient-to-r from-blue-500 to-[#ff014f] bg-clip-text text-transparent;
}
@theme {
  --font-family: "rubik", sans-serif;
  --color-primary: #00adb5;
  --color-background: #121212;
  --color-secondary: #f8f9fa;
  --color-text: #e0e0e0;
  --color-highlight: #ff014f;
}
@layer components {
  .btnicon {
    width: 4rem;
    height: 4rem;
    background-color: rgba(248, 245, 245, 0.959);
    color: var(--color-primary);
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    box-shadow: var(--shadow-shadowOne);
    transition: all 0.3s;
    cursor: pointer;
  }
  .btnicon:hover {
    background-color: rgba(248, 245, 245, 0.959);
    transform: translateY(-0.25rem);
    color: var(--color-highlight);
  }
  .dots::after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1s steps(3, end) infinite;
  }

  @keyframes dots {
    0%,
    20% {
      content: "";
    }
    40% {
      content: ".";
    }
    60% {
      content: "..";
    }
    80%,
    100% {
      content: "...";
    }
  }
  .btnicon {
    width: 4rem;
    height: 4rem;
    background-color: rgba(248, 245, 245, 0.959);
    color: var(--color-primary);
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    box-shadow: var(--shadow-shadowOne);
    transition: all 0.3s;
    cursor: pointer;
  }
  .btnicon:hover {
    background-color: rgba(248, 245, 245, 0.959);
    transform: translateY(-0.25rem);
    color: var(--color-highlight);
  }
}
.custom-shape-divider-top-1744401648 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1744401648 svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 83px;
}

.custom-shape-divider-top-1744401648 .shape-fill {
  fill: #121212;
}
.modal-carousel .carousel .control-dots .dot {
  background: #05adb5 !important;
  /* box-shadow: none !important; */
}

.modal-carousel .carousel .control-arrow {
  background-color: #0c6d72d8 !important;
  margin-top: auto;
}

.modal-carousel .carousel .control-arrow:hover {
  background-color: #068b92d8 !important;
}

.custom-shape-divider-bottom-1744631684 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1744631684 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 108px;
}

.custom-shape-divider-bottom-1744631684 .shape-fill {
  fill: #121212;
}
